.banner{
    &__item{
        position: relative;
        height: 200px; 
    }

    &__row{
        @include pos-cover;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 10px;
    }

    &__title{
        margin-bottom: 15px;
    }

    &__btn{
        flex-shrink: 0;
    }
}