.news{
    
    &__inner{
        position: relative;
    }
    
    &__title{
        margin-bottom: 20px;
    }

    &__navigation{
        position: absolute;
        top: 6px;
        right: 0;
    }
}