.reviews{

    &__inner{
        height: 337px;
        background-color: #f7f8fb;
        background-image: url(../img/images/reviews.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -150px -38px;
        box-sizing: border-box;
        padding: 70px 15px 15px 15px;
    }

    &__item{
        text-align: center;
    }

    &__autor{
        margin-bottom: 30px;
    }

    &__text{
        margin-bottom: 50px;
    }

    &__navigation{
        position: static;
    }
}