.reviews{

    &__inner{
       background-color: #f7f8fb;
       box-sizing: border-box;
       padding: 70px 15px 15px 15px;
       background-image: url(../img/images/reviews.png);
       background-size: cover;
       background-repeat: no-repeat;
       background-position: -150px -38px;
       height: 337px;
       border-radius: 3px;
       overflow: hidden;
    }

    &__item{
        text-align: center;
    }

    &__autor{
        margin-bottom: 30px;
    }

    &__text{
        margin-bottom: 50px;
    }

    &__navigation{
        position: static;
    }
}