.categories{

    &__inner{
        display: flex;
        flex-wrap: wrap;
        gap: 20px 10px;
    }

    &__item{
        position: relative;
        flex: 1 0 145px;
        height: 145px;

        &:nth-child(3n+1){
            flex-basis: 100%;
        }
    }

    &__title{
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
}