.mail-form{
    position: relative;
    max-width: 100%;
    height: 46px;

    &__button{
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
    }

    &--leight-size--s{
        max-width: 270px;
    }
}