.newslatter{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 225px;
    background-color: #1e1e1e;
    box-sizing: border-box;
    padding: 20px;
   

    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    &__icon{
        @include sprite($icon-mail);
        flex-shrink: 0;
    }

    &__text{
        margin-bottom: 25px;
    }
}