.article{

    &__inner{
        position: relative;
        height: 165px;
        margin-bottom: 14px;
    }

    &__date{
        position: absolute;
        top: 12px;
        left: 12px;
    }

    &__statistic{
        position: absolute;
        bottom: 12px;
        left: 12px;
    }

    &__title{
        margin-bottom: 5px;
    }
}