.goods{
    background-color: #f7f8fb;
    padding: 42px 0 47px;
    box-shadow: 0px 4px 3px 0px rgba(34, 60, 80, 0.05) inset,
                        0px -4px 3px 0px rgba(34, 60, 80, 0.05) inset;

    &__navigation{
        margin-top: 20px;
    }
}