.card{
    position: relative;
    box-sizing: border-box;
    max-width: 300px;
    padding: 20px;
    background-color: #fff;

    &__feature{
        position: absolute;
        text-align: right;
        top: 20px;
        right: 20px;
    }

    &__img{
        height: 150px;
        margin-bottom: 36px;
    }

    &__categorie{
        margin-bottom: 5px;
    }

    &__name{
        margin-bottom: 9px;
    }

    &__rating{
        margin-bottom: 14px;
    }

    &__row{
        display: flex;
        justify-content: space-between;

        &:last-child{
            margin-top: 20px;
            align-items: center;
        }
    }

    &__col{
        display: flex;
        align-items: center;
    }

    &__saving{
        margin-right: 7px;
    }

    &.card--false .availability__item--true{
        display: none;
    }

    &.card--true .availability__item--false{
        display: none;
    }

    &__button{
        flex-grow: 1;
        margin-right: 20px;
    }
}