.availability{
    font-family: $Helvetica;
    font-size: 12px;
    color: #818690;
    text-align: right;

    &__item{
        display: flex;
        align-items: center;
    }

    &__item::before{
        content: "";
        margin-right: 4px;
    }

    &__item--true::before{
        @include sprite($icon-check);
    }

    &__item--false::before{
        @include sprite($icon-close);
    }
}