.availability{
    font-family: $Helvetica;
    font-size: 12px;
    color: #818690;
    text-align: right;

    &__item{
        display: flex;
        align-items: center;

        &::before{
            content: "";
            margin-right: 4px;
        }

        &--true::before{
            @include sprite($icon-check);
        }

        &--false::before{
            @include sprite($icon-close);
        }
    }
}