.custom{
   
    &__inner{
        position: relative;
        height: 307px;
    }

    &__column{
        @include pos-cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }

    &__title{
        margin-bottom: 15px;
    }

    &__text{
        margin-bottom: 20px;
    }
}