.guarantee{
    position: relative;
    height: 225px;

    &__inner{
        @include pos-cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        box-sizing: border-box;
        padding: 20px;
    }

    &__title{
        line-height: 30px;
        margin-bottom: 15px;
    }
}