.guarantee{
    position: relative;
    max-height: 225px;
    border-radius: 3px;
    overflow: hidden;
    box-sizing: border-box;

    &__img{
        height: 225px;
    }

    &__column{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        padding: 20px;
    }
}