.phone{
    display: flex;
    align-items: center;
    font-size: 11px;
    font-family: $Helvetica;
    font-weight: 400;
    color: #818690;

    &__icon{
        width: 10px;
        height: 10px;
        fill: #818690;
        margin-right: 5px;
    }
}