.location{
    position: relative;
    background-image: url(../img/images/location_bg.jpg);
    box-shadow: 0px 4px 3px 0px rgba(34, 60, 80, 0.05) inset,
                        0px -4px 3px 0px rgba(34, 60, 80, 0.05) inset;

    &__inner{
        padding: 50px 0 30px;
    }

    &__title{
        margin-bottom: 20px;
    }

    &__item{
        padding: 14px 12px 16px 14px;
        background-color: #fff;
        border-radius: 3px;
    }

    &__name{
        margin-bottom: 10px;
    }

    &__address{
        margin-bottom: 16px;
    }

    &__time{
        margin-bottom: 12px;
    }

    &__navigation{
        position: absolute;
        top: 56px;
        right: 10px;
    }
}