.menu{
    position: absolute;
    top: 0;
    left: -10px;
    height: 100vh;
    width: 300px;
    display: none;
    background-color: #fff;
    overflow-y: auto; 
    margin: 0;
    padding: 0;
    z-index: 100;
    
    &__display{
        padding: 20px;
        display: flex;
        align-items: center;
    }

    &__close{
        @include sprite($icon-menu-close);
        cursor: pointer;
        margin-right: 18px;
    }

    &__name{
        text-transform: uppercase;
        font-weight: 600;
    }
}

.menu__list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__title{
    text-transform: uppercase;
    border-top: 1px solid #e3e4eb;
}

.menu__link{
    color: rgb(158, 158, 158);
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}

.menu__submenu{
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

.menu__back{
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(228, 146, 146);
    cursor: pointer;
}

.menu__sublist{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #e3e4eb;
    overflow-y: visible;
}

.menu__sub-submenu{
    display: none;
    background-color: #f7f7f7;
}

.menu__sub-sublist{
    position: relative;
    list-style: none;
    margin: 0;
    border-top: 1px solid #e3e4eb;
    padding: 0;
}

.menu__item:not(:first-child){
    border-top: 1px solid #e3e4eb;
}
