.list{

    &__inner{
        display: flex;
        flex-wrap: wrap;
    }

    &__item{
        &:not(:last-child){
            margin-bottom: 50px;
        }
    }

    &__title{
        margin-bottom: 38px;
    }

    &__product{
        display: flex;

        &:not(:last-child){
            margin-bottom: 20px;
        }
    }

    &__img{
        flex-shrink: 0;
        width: 70px;
        height: 70px;
        box-sizing: border-box;
        padding: 5px;
        border: 1px solid #eaedf4;
        margin-right: 14px;
    }

    &__column{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__row{
        display: flex;
        align-items: flex-end;
    }

    &__categorie{
        margin-bottom: 4px;
    }

    &__name{
        align-self: flex-start;
    }
}