.burger{
    position: relative;
    cursor: pointer;
    width: 18px;
    height: 14px;
    border: none;
    background-color: transparent;
    padding: 0;

    &__line{
        display: block;
        height: 2px;
        width: 100%;
        background-color: #282828;

        &::before,
        &::after{
            content: "";
            position: absolute;
            background-color: inherit;
            height: inherit;
            width: inherit;
        }

        &::before{
            top: 0;
            left: 0;
        }
    
        &::after{
            bottom: 0;
            left: 0;
        }
    }
}