.subtitle{
    color: #fff;
    font-size: 12px;
    font-family: $Montserrat;
    font-weight: 400;
    margin: 0;
}

// .text{
//     margin: 0;
//     font-family: $Roboto;
//     font-weight: 300;
//     font-size: 12px;
//     line-height: 20px;

//     &--color--light-gray{
//         color: #848484;
//     }

//     &--color--white{
//         color: #fff;
//     }

//     &--guarantee{
//         font-family: $Montserrat;
//         font-weight: 500;
//         font-size: 12px;
//         color: #fff;
//     }

//     &--newslatter{
//         font-family: $Montserrat;
//         font-weight: 500;
//         font-size: 12px;
//         color: #666666;
//     }

//     &--article{
//         color: #818690;
//         font-size: 13px;
//         line-height: 20px;
//     }

//     &--reviews{
//         font-style: italic;
//         font-size: 16px;
//         line-height: 24px;
//         color: #1b1b1b;
//     }
// }

// .btn{
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     box-sizing: border-box;
//     text-transform: uppercase;
//     font-family: $Montserrat;
//     font-weight: 700;
//     font-size: 10px;
//     background-color: #ffde00;
//     border-radius: 30px;
//     padding: 16px 25px;
//     border: none;
//     cursor: pointer;

//     &__icon{
//         width: 16px;
//         height: 16px;

//         &--mail-form{
//             width: 10px;
//             height: 10px;
//         }

//         &--heart{
//             fill: #818690;
//             width: 15px;
//             height: 13px;
//         }

//         &--cart{
//             margin-right: 9px;
//             width: 16px;
//             height: 16px;
//         }
//     }

//     &__text{
//         font-size: 12px;
//         margin: 0;
//         line-height: 1;
//     }

//     &--card{
//         padding: 0;
//         width: 47px;
//         height: 47px;
//         background-color: #e8ebf1;
//     }
// }